<a href="https://colab.research.google.com/github/daddyawesome/BSProject/blob/master/Panda_CODES_4NOOB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# FIRST DON'T Foget the imports

In [0]:
# Data manipulation
import pandas as pd
import numpy as np

# Basic Dataset Information
## (1) Read in a CSV dataset

In [0]:
pd.DataFrame.from_csv(“csv_file”)

# OR

pd.read_csv(“csv_file”)

## (2) Read in an Excel dataset

In [0]:
pd.read_excel("excel_file")

## (3) Write your data frame directly to csv

Comma separated and without the indices

In [0]:
df.to_csv("data.csv", sep=",", index=False)

## (4) Basic dataset feature info

In [0]:
df.info()

## (5) Basic dataset statistics

In [0]:
print(df.describe())

## (6) Print data frame in a table

In [0]:
print(tabulate(print_table, headers=headers))

where “print_table” is a list of lists and “headers” is a list of the string headers
## (7) List the column names

In [0]:
df.columns

# Basic Data Handling
## (8) Drop missing data

In [0]:
df.dropna(axis=0, how='any')

Returns object with labels on given axis omitted where alternately any or all of the data are missing
## (9) Replace missing data

In [0]:
df.replace(to_replace=None, value=None)

replaces values given in “to_replace” with “value”.
## (10) Check for NANs

In [0]:
pd.isnull(object)

Detect missing values (NaN in numeric arrays, None/NaN in object arrays)
## (11) Drop a feature

In [0]:
df.drop('feature_variable_name', axis=1)

axis is either 0 for rows, 1 for columns
## (12) Convert object type to float

In [0]:
pd.to_numeric(df["feature_name"], errors='coerce')

Convert object types to numeric to be able to perform computations (in case they are string)
## (13) Convert data frame to numpy array

In [0]:
df.as_matrix()

## (14) Get first “n” rows of a data frame

In [0]:
df.head(n)

## (15) Get data by feature name

In [0]:
df.loc[feature_name]

# Operating on data frames
## (16) Apply a function to a data frame

This one will multiple all values in the “height” column of the data frame by 2

In [0]:
df["height"].apply(lambda height: 2 * height)

##OR

def multiply(x):
    return x * 2df["height"].apply(multiply)

## (17) Renaming a column

Here we will rename the 3rd column of the data frame to be called “size”

In [0]:
df.rename(columns = {df.columns[2]:'size'}, inplace=True)

## (18) Get the unique entries of a column

Here we will get the unique entries of the column “name”

In [0]:
df["name"].unique()

## (19) Accessing sub-data frames

Here we’ll grab a selection of the columns, “name” and “size” from the data frame

In [0]:
new_df = df[["name", "size"]]

## (20) Summary information about your data

In [0]:
# Sum of values in a data frame
df.sum()

# Lowest value of a data frame
df.min()

# Highest value
df.max()

# Index of the lowest value
df.idxmin()

# Index of the highest value
df.idxmax()

# Statistical summary of the data frame, with quartiles, median, etc.
df.describe()

# Average values
df.mean()

# Median values
df.median()

# Correlation between columns
df.corr()

# To get these values for only one column, just select it like this#
df["size"].median()